@{
    ViewData["Title"] = "Page Not Found!";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">It's not there! Try somewhere else!</h2>

<p>Whatever you were looking for <span>@ViewBag.OriginalPath</span>could not be found!</p>